@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
  --border: #e6e6e6;
  --element-default: #8e8e8e;
  --element-hover: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

[data-theme="dark"] {
  --background: #000000;
  --foreground: #ffffff;
  --border: #1f1f1f;
  --element-default: #8e8e8e;
  --element-hover: #ffffff;
  --soft-background: #0a0a0a;
}

[data-theme="light"] {
  --background: #ffffff;
  --foreground: #000000;
  --border: #e6e6e6;
  --element-default: #8e8e8e;
  --element-hover: #000000;
  --soft-background: #ffffff;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
